* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color:#0e0e0e;
    letter-spacing: 0.5px;
}

.container {
  padding: 1rem;
  margin-top: 5rem;
  width: 70%;
  border: 2px solid lightgrey;
  box-shadow: 2px 2px 8px 2px lightgrey;
  display: flex;
}

h1 {
  margin-bottom: 10px;
}

/***** NAVBABY *****/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
  }

  .navbar-brand {
    margin: 20px;
  }

  .menu-list {
    display: none;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: gray;
    width: 50%;
    justify-content: center;
    z-index: 999;
    font-size: 18px;
  }
  
  .close-btn,
  .menu-btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: 15px;
    margin-right: 20px;
    fill: white;
  }

  .menu-list ul {
    padding: 0;
    margin-top: 2.5rem;
  }

  .menu-list ul li {
    margin: 35px;
    list-style: none;
  }
  
  

  


/******** FORMULAR  *******/

form {
    margin-bottom: 2rem;
  }
  form div {
    display: flex;
    flex-direction: column;
  }
  form button {
    color: purple;
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
  }
 
  
  #log-in-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

  label {
    margin-top: 10px;
  }
  
  input {
    padding: 2px;
    height: 30px;
  }
  


/*********** FOOTER **********/
footer {
    display: flex;
    flex-direction: column;
    background-color: #0e0e0e;
    width: 100%;
    color: white;
    align-items: center;
    font-size: small;
  }
  
  footer ul {
    display: flex;
    padding: 10px;
  }
  
  footer ul li {
    list-style: none;
    margin: 10px;
  }
  
  footer p {
    margin-bottom: 20px;
  }

  a:link {
    text-decoration: none;
    color: white;
    z-index: 9999;
  }

  a:hover {
    text-decoration: underline;
  }

  a.navbar-brand {
      color: white;
  }
  a.nav-link {
      color: white;
  }




/********** ARTICLES *********/
.list-item-title {
  font-size: 18px;
}

.content-post {
  margin-top: 2rem;
 
}
.content-post ol, ul {
  padding: 1rem;
}


/****** COMMENTS *****/

.comment {
  flex-direction: column;
  display: flex;
  position: relative;
}

.edit-comment-container {
  display: flex;
}

/*.comment-form-hidden {
  display: none;
  position: relative;
  margin-bottom: 30px;
}*/

.delete-comment {
  font-weight: bold;
  font-size: 18px;
}





  /********* MEDIA ********/
  @media screen and (min-width: 800px) {
    body {
      display: flex;
      flex-direction: column;
      font-size: 1.1rem;
    }
    .container {
      width: 50%;
      padding-top: 2rem;
      margin-top: 5rem;
      background-color: black;
      margin-left: 5rem;
      display: flex;
    }

    article {
        padding-left: 5rem;

    }

    input,
    textarea {
      width: 100%;
    }

    p {
      font-size: small;
    }

    .upvotes-comments {
      font-size: small;
    }
  
    nav {
      justify-content: flex-start;
    }
    .menu-list {
      display: flex;
      height: unset;
      position: fixed;
      top: 0;
      left: 200px;
      background-color: gray;
      width: 100%;
      justify-content: flex-start;
    }
  
    .navbar-brand {
      font-size: 18px;
    }
  
    .menu-list ul {
      display: flex;
      flex-direction: row;
      margin-top: unset;
    }
  
    .menu-list ul li {
      margin: 20px;
    }
    .menu-btn,
    .close-btn {
      display: none;
    }
  


.post-info {
  padding:1rem;
}

.create-post {
  width: 300px;
}

.update-profile {
  width: 400px;
}
  
    .profile-img {
      width: 100px;
      height: 100px;
    }
  
    .list-item-title {
      font-size: 1.1rem;
    }
  
  }
